.my-masonry-grid {
  display: -webkit-box; /* Not needed if you use Tailwind/Flexbox override */
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column a {
  margin: 16px;
}
